__pycache__/ShopifyCustomerAPI.cpython-38.pyc
__pycache__/ShopifyOrderAPI.cpython-38.pyc
~$prototypeTest.xlsm
__pycache__/ShopifyCustomerAPI.cpython-310.pyc
__pycache__/ShopifyOrderAPI.cpython-310.pyc
CalendarForm.frm
CalendarForm.frx
__pycache__/ShopifyCustomerAPI.cpython-39.pyc
__pycache__/ShopifyOrderAPI.cpython-39.pyc
~$prototype.xlsm
Combined Data.xlsx
~$prototypeMerged - KW.xlsm
~$Steps.docx
__pycache__/credentials.cpython-310.pyc
selenium/__init__.py
selenium/webdriver/chromium/__pycache__/service.cpython-39.pyc
selenium/webdriver/chromium/__pycache__/webdriver.cpython-39.pyc
selenium/webdriver/common/action_chains.py
~$prototypeMerged.xlsm
~$oblems.docx
Shopify/__pycache__/ShopifyCustomerAPI.cpython-310.pyc
Shopify/__pycache__/ShopifyOrderAPI.cpython-310.pyc
Shopee/__pycache__/config_tools.cpython-310.pyc
__pycache__/config_tools.cpython-310.pyc
